<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"> {% if page.title %}
  <title>{{ page.title }}</title>{% endif %}
  <meta name="google-site-verification" content="Dp3XhKR0LIiai45g_c-RZn6RRbwldUw1HyIyzAB6H7Y" />
  <link rel="stylesheet" href="/assets/style.css">
  <link rel="stylesheet" href="/assets/prism.css">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Inconsolata:400,700">
  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>